/*
header.centered_logo .header_inner_left {
	margin: 0;
}

*/

header.centered_logo .header_inner_left {
	margin: 0;
}

.content {
	position: relative;
	margin-top: 0;
}

.full_width {
	position: absolute;
	top: 30px;
	left: 50%;
	border-radius: 20px;
	transform: translateX(-50%);

}

.full_width label {
	color: #000;
}

.wpcf7 form.wpcf7-form p {
	margin: 0 auto 10px auto;
}

.wpcf7 form.wpcf7-form span {
	color: #000;
}

input.wpcf7-form-control.wpcf7-submit {
	margin-top: 20px;
}


input.wpcf7-form-control.wpcf7-text {
	padding: 8px;
	border-radius: 5px;
}

textarea.wpcf7-form-control.wpcf7-textarea,
input.wpcf7-form-control.wpcf7-number {
	border-radius: 5px;
}

input.wpcf7-form-control.wpcf7-number {
	padding: 8px;
}

textarea.wpcf7-form-control.wpcf7-textarea {
	height: 100px;
}

@media screen and (max-width: 1017px) {
	.full_width {
		width: 80%;
	}

}


